<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>
<div class="container">
  <h3>Create Hubli-Dharwad-West Member click below to open form</h3>
  <ul id="treeForms">
    <!-- <li><a href="/getFormBCM" class="link-secondary">Booth Committee Member</a></li>
    <li><a href="/getFormBA" class="link-primary">Booth Agent</a></li>
    <li><a href="/getFormGS" class="link-secondary">General Secretary</a></li>
    <li><a href="/getFormBP" class="link-success">Booth President</a></li> -->
    <li><a href="/verification" class="link-success">Booth Verification</a></li>
    <li><a href="/getFormWIC" class="link-primary">Ward Incharg</a></li>
    <li><a href="/getFormMP" class="link-secondary">Mandal President</a></li>
    <li><a href="/getFormDPS" class="link-success">District President</a></li>
</div>
</ul>
<style>
  #treeForms li {
    margin: 10px;
  }
</style>
<%- include('./partials/footer.ejs')%>